<h1><%= @board.name %></h1>
<%= link_to '建立新標題', new_forum_board_topic_path(board_id: @board.id) %>
<table class="table">
  <thead>
    <th>標題</th>
  </thead>
  <tbody>
    <% @board.topics.each do |topic| %>
      <tr>
        <td>
          <%= link_to topic.title, forum_board_topic_path(@board, topic) %>
        </td>
        <% if current_user && current_user.id == topic.user_id %>
          <td>
            <%= link_to '編輯', edit_forum_board_topic_path(board_id: @board.id, id: topic.id) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>