<h1>討論區</h1>
<%= link_to '新建留言板', new_admin_forum_board_path, class: "btn btn-large" %>
<table class="table">
  <thead>
  <tr>
    <th>主題</th>
  </tr>
  </thead>
  <% Forum::Board.order(id: :asc).each do |board| %>
    <tr>
      <td>
        <%= link_to board.name, admin_forum_board_path(board) %>
      </td>
    </tr>
  <% end %>
</table>
