<h1><small>文化福傳</small> <%= @category.name %></h1>
<% @entries.each do |c| %>
  <div class ="list-item">
    <B><%= link_to c.post.title, culture_preaching_path(c), class: 'post-link' %></B>
    <%= c.post.author %><br/ >
  </div>
<% end %>
