<table class="table">
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <%= topic.title %>
        </td>
        <td>
          <%= link_to '刪除', admin_forum_board_topic_path(board_id: topic.board.id, id: topic.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @topics %>