<h1>大事年表</h1>

<ol>
<li>五位教友草創 1962年於台北市天主教聖母會服務中心<br>
創始會員---王志奘、郭子文、鄭至麗、李秀萍、鄭嘉ㄨˇ</li>
<li>台北小組（即今台北分會）立定規模 1962年11月12日</li>
<li>台中成立小組（即今台中分會） 1965年</li>
<li>總會成立（設立台北）；十二位會員首度奉獻 1966年</li>
<li>通過會章草案 1967年7月1日於淡水本篤會</li>
<li>通過會章 1970年3月30日於陽明山福音園</li>
<li>編印「心泉」小會刊物；成立心泉編輯組 1970年</li>
<li>成立高雄分會 1971年</li>
<li>總會設立專任秘書 1973年9月</li>
<li>成立北美分會 1974年</li>
<li>宗旨精神輔助說明草本脫稿 1974年7月</li>
<li>總會成立專任輔導，同時撤銷專任秘書 1974年9月</li>
<li>舉行首度終身奉獻典禮---7 位台北分會會員<br>1974年9月21日於台北耕莘文教院</li>
<li>會員手冊出版 1975年8月</li>
<li>總會設立專任秘書 1978年9月</li>
<li>基金會成立 1978年9月</li>
<li>神修小會簡介印行 1979年1月</li>
<li>北美分會祈禱同工設立 1979年4月</li>
<li>總會設立專職工作人員 1979年10月</li>
<li>北美分會首度終身奉獻---5 位會員 1980年9月</li>
<li>小會會員首度晉鐸---胡國楨神父 1981年5月</li>
<li>台中分會首度終身奉獻---1 位會員 1981年9月</li>
<li>小會陶成訓練計劃完稿印行 1981年12月</li>
<li>台北分會區會設立 1983年10月</li>
<li>會員手冊章程修改通過 1984年8月<br>
---修改第1、2、4、7、9、18、20、24、29、37、42、44、46、47、48、　51、53條；包括會員代表大會。總會主 席人選及任期、分會主席 及 <span style="background-color: initial;">參議任期、奉獻分類等項。</span></li>
<li>訂立會員代表大會遴選會員代表辦法 1986年10月</li>
<li>會員手冊章程修改通過 1990年8月<br>
---修改第7條：總會主席由奉獻三年以上會員中提名。</li>
<li>台中分會設立「善牧基金會」 1991年1月</li>
<li>台北分會設立「天音慕道小組」 1991年3月</li>
<li>高雄分會設立「四維諮詢中心」 1991年4月</li>
<li>會員手冊會章上篇及前言通過 1993年8月</li>
<li>大會通過「天主聖三節」為小會會慶日與主保 1993年8月</li>
<li>台中分會設立「天主教活泉福傳工作室」 1994年6月</li>
<li>獨身奉獻陶成資料「聖三之路」文集編輯印行 1994年7月</li>
<li>高雄分會首度終身奉獻---2 位會員 1996年9月</li>
<li>基金章程修改通過 1996年8月</li>
<li>陶成資料「心泉文選」目錄完稿印行 2000年1月
</ol>
