<div class="comment">
  <h3>留言</h3>

  <%= cell 'comment/owner', :form, @owner %>

  <% if @owner.comment_topic.present? %>
      <%= cell 'comment/topic', :show, @owner.comment_topic %>
  <% end %>
</div>
