<table class="table">
  <tbody>
  <% @sections.each do |section| %>
    <% if section.category.present? %>
      <tr>
        <th colspan="2"><%= section.category %></th>
      </tr>
    <% end %>
    <% section.entries.each do |e| %>
      <% post = e.post %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.author %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
