.title {
  text-align: center;
  margin: 20px;
}

.post-link {
  margin: 20px;
  font-size: 1em;
}

.tag-link {
  margin: 20px;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.list-item {
  margin: 5px 0;
}