.business-header
  background: rgba(0, 0, 0, 0) image-url("index_header_bg.jpg") no-repeat scroll center -150px / cover
  height: 350px
  overflow: hidden

  img.trinity
    float: right
    filter: brightness(1.5)
    margin-top: -50px

.tagline, .tagline small
  color: #fff
  text-shadow: 0 0 10px #000

.logo
  width: 90px
  margin-right: 1em
  margin-top: 1em
  float: left
