.business-header
  background: image-url("trinity.jpg") no-repeat right -70px / 100%, rgba(0, 0, 0, 0) image-url("index_header_bg.jpg") no-repeat scroll center 0 / cover
  height: 350px
  overflow: hidden
  @media (min-width: 992px)
    background: image-url("trinity.jpg") no-repeat right -70px / 700px, rgba(0, 0, 0, 0) image-url("index_header_bg.jpg") no-repeat scroll center 0 / cover

.tagline, .tagline small
  color: #fff
  text-shadow: 0 0 10px #000
  clear: both
  word-break: keep-all

.logo
  float: left
  width: 90px
  margin-top: 1em
  margin-bottom: 1em

.header-position
  position: relative
  left: 1em
  top: 2em
  @media (min-width: 992px) and (max-width: 1199px)
    top: 1em
