<%= link_to "#{@entry.periodical.class.fullname} 第#{@entry.periodical.issue}期 #{@entry.periodical.title}", @entry.periodical %>
<h1>
  <%= @post.title %>
</h1>

<div class="author"><%= @post.author %></div>

<div class="body">
  <%= @post.body.html_safe %>
</div>
